<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
</head>
<body>
    <h1>Контакты</h1>
    <p>Если у вас есть вопросы или вы хотите узнать больше о наших программах, пожалуйста, свяжитесь с нами:</p>
    <ul>
        <li>Телефон: +123456789</li>
        <li>Email: info@ourshool.com</li>
        <li>Адрес: Улица Образования, 1, Город Знаний, 123456</li>
    </ul>
    <a href="/">Главная</a>
</body>
</html>
